.text_section {
  margin-top: 16px;
  width: 279px;
}

.text_section h2 {
  color: var(--Pure-White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text_section p {
  color: var(--Light-Grey, #969fad);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 24px;
}
