@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
#root {
  padding: 154px 24px 153px 24px;
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Very-Dark-Blue, #131518);
}
