@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
#root {
  padding: 154px 24px 153px 24px;
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Very-Dark-Blue, #131518);
}

@media only screen and (min-width: 768px) {
  .main_element {
    height: 416px !important;
  }

  .text_section {
    margin-top: 30px !important;
    width: 340px !important;
  }
  .main_element img {
    width: 48px !important;
    height: 48px !important;
  }

  .text_section h2 {
    font-size: 28px !important;
  }
  .text_section p {
    font-size: 15px !important;
  }

  .oval_section {
    margin-bottom: 32px !important;
  }

  .oval_section img {
    width: 51px !important;
    height: 51px !important;
  }
}
